<!DOCTYPE html>
<html lang="en"  >
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This page is the dashboard of storekeepr users.">

  <title>Elreef Eloroby-Customers Dashboard</title>
<style>
custom-icon{
  font-size:20px;
  color:red";
}

.btn{
  text-align: center;
  width: 19%;
  }

#btn2{
  width:23%;
  border-radius: 15px;
  font-family: Thabit;

}

</style>

</head>
<body dir="rtl">
    {% extends "home.html" %}
    {% block content %}
    <div class="container-A">
      <h1><img src="/static/images/Logo1.png" style="width:5%; height:5%;">
        مجتمع الريف اﻷوربي <img src="/static/images/Logo1.png" style="width:5%; height:5%;"></h1>
        &nbsp&nbsp&nbsp&nbsp
      <a id="btn1" class="btn btn-success btn-sm" href="{{url_for('index')}}" role="button"><i class="fa fa-home" style="font-size:24px"></i> Home  </a>
      <button id="btn1" type="button" class="btn btn-secondary btn-sm"><i class="fa fa-fw fa-user"></i> {{current_user.name}} </button>
    </div>
    <div class="container">
        <strong>
        <br>
        <h4>*** صفحه المتسوق ***</h4>
        <br><br>
          <a class="btn btn-success" href="{{url_for('prod_list')}}" id="btn2" role="button">عرض منتجات السوق
            <i class="fa fa-shopping-basket custom-icon"></i></a>
          <a class="btn btn-warning" href="{{url_for('cart_items_list1',user_name=current_user_name)}}" id="btn2" role="button">سله الشراء
                <i class="fa fa-bullhorn custom-icon"></i></a>
          <a class="btn btn-success" href="{{url_for('view_orders_list', user_name=current_user.name)}}" id="btn2" role="button">طلبات الشراء
              <i class="fa fa-bullhorn"  style="font-size:20px;color:black"></i></a>
        </div>
        <br>
    </div>
  <footer class="footer">
    <strong>&copy; Admin : Sherif Refaat  Tel: 01019301893</strong>
  </footer>
  {% endblock %}
  </body>
</html>
