<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Elreef Eloroby - User Guide </title>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.fontstatic.com/f=jazeera,jazeera-light">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/thabit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles2.css') }}">
    <style>
        @import url('https://fonts.cdnfonts.com/css/thabit');
    </style>
   
</head>

<body dir="rtl">
    <div class="container">
        <header>
            <div class="header">
              <a class="btn btn-success btn-sm" href="{{url_for('index')}}" role="button"><i class="fa fa-home" style="font-size:22px"></i></a> 
              <h1> مجتمع الريف اﻷوربي</h1>
              <h2> دليل المستخدم #1</h2>
          </div>
       </header>
       <main>
            <nav aria-label="Page navigation example">
                <br>
                <h3 style="color:blue">جدول المحتويات</h3>
                <ul class="pagination">
                    
                    <li class="page-item active" aria-current="page"><a class="page-link" href="user_guide_6">a</a></li>  
                    <li class="page-item"><a class="page-link" href="user_guide_1">1</a></li>
                    <li class="page-item"><a class="page-link" href="user_guide_2">2</a></li>
                    <li class="page-item"><a class="page-link" href="user_guide_3">3</a></li>
                    <li class="page-item"><a class="page-link" href="user_guide_4">4</a></li>
                    <li class="page-item"><a class="page-link" href="user_guide_5">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="user_guide_1" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                  
                </ul> 
            </nav>
            <ul>
                <li> المقدمه ....................................page#a</li>
                <li> نوعيه المستخدم .........................page#1</li>
                <li> متسوق ....................................page#2</li>
                <li> مالك مزرعه..............................page#3</li>
                <li> صاحب محل تجاري......................page#4</li>    
                <li> صاحب سكن للايجار اليومي...........page#5</li>
            </ul>
            <br>
            <h2  style="color:blue">المقدمه</h2> 
            <p>
            هذا الموقع تم انشائه بغرض التعريف بالريف اﻷوربي و الخدمات والمنتجات التى تقدم من خلاله سواء للمقيمين او الغير مقيمين بالريف للأغراض اﻷتيه:.
            <ul>
                <li> التسويق لمنتجات المزارع داخل وخارج الريف</li>
                <li>التعريف باﻷنشطه التجاريه والخدميه المتوفره بالريف</li>
                <li>اﻷعلان عن المواقع السكنيه المتاحه للايجار اليومى للعائلات</li>
                <li>توفير اسماء و ارقام اﻷتصال بالجهات المختله بالريف</li>
                <div>
                <li style="color:red; font-size: x-large; text-decoration: underline;">هام جدا </li>
                <i class="fa-solid fa-skull"></i>
                </div container>
                <ul>
                <li>هذا الموقع غير مسئول عن اى تعاملات ماليه بين اى طرف من اطراف البيع والشراء وجميع التعاملات الماليه يجب ان تتم بالتعامل المباش بين كل من البائع و المشتري </li>
                <li>الموقع غير مسئول عن اتمام عمليات البيع و الشراء. وتقع عاتق هذه المسئوليه فقط على كل من البائع و المشترى والتعامل المباشره بينهم فقط</li>
                <li style="color:red">جميع اﻷعلانات الحاليه بالموقع لغرض التوضيح فقط و ليست حقيقيه</li>    
            </ul>
            </ul>
            </p>
            <br>
            <h3 style="color:blue">الفئات المستفيده من هذا الموقع</h3>
            <ul>
                <li>اصحاب مزارع اﻷنتاج الزراعي , الحيواني و الداجنى</li>   
                <li>اصحاب محلات البقاله و الماركت</li>   
                <li>اصحاب المقاهي و الكافيهات </li>   
                <li>اصحاب الحرف و الورش الخدميه</li>   
                <li>اصحاب المخابز و اﻷفران </li>   
                <li>اصحاب المقاهى </li>
                <li>اصحاب محلات اﻷتصالات </li>
                <li>اصحاب محلات المعدات والعدد واﻷدوات </li>
            </ul>
            <br>
            <p style="color:red; font-weight: 900;text-align: center; font-size: x-large;"> 
           *** ملحوظه هامه ***
            </p>
            <p>
            هذا الموقع تم انشائه بمبادره شخصيه من مدير الموقع وبمجهوده ووقته الخاص ولا يوجد لهذا الموقع اى علاقه او صله بالاداره الرسميه للريف اﻷوربي ولا يقع عليها اى مسئوليه بخصوص هذا الموقع.       
            </p>
        </main>
        <footer class="footer">
            <p>Admin : Sherif Refaat  Tel: 01019301893</p>
        </footer>
    </div>
</body>
</html>