<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<meta charset="utf-8">
		<title>Elreef Eloroby- View Purchase Order Form</title>
	</head>
<body dir="rtl">
	<div class="container">
		<!img src="{{ url_for('static', filename='images/'+'Pic9.jpeg') }}" alt="..." width="8%"  length="8%">

		<h4>View Purchase Order - view order image</h4>
			</div>	
		<div class="container">
			<img src="/static/New_images/{{row.order_copy}}" alt="{{row.order_copy}}" width="100%"  length="100%">
	</div>  
</body>
</html>